@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}


.content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: column;
    flex: 1;
    min-width: 300px;
}

img {
    max-width: 100%;
    height: auto;
    flex-shrink: 1;
    margin-left: 200px;
}